body {
    background-color: oldlace;
    font-family: "roboto";
}

.main-page {
    padding: 45px 5px 50px 5px;
}

.bg-orange {
    background-color: orange;
}

.text-orange {
    color: orange;
}

.intro-1 {
    background-color: #FCC179;
}

.intro-2 {
    background-color: #fb9d14;
}

.intro-3 {
    background-color: #f78404;
}

.intro-4 {
    background-color: #ee7804;
}

.card {
    transition: all 0.2s ease-in-out;
}

.card:hover{
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

html {
    scroll-behavior: smooth;
}